## Pyforest Libary

pyforest lazy-imports all popular Python Data Science libraries so that they are always there when you need them. Once you use a package, pyforest imports it and even adds the import statement to your first Jupyter cell. If you don't use a library, it won't be imported

cmd for anaconda prompt:

pip install --upgrade pyforest 

or 

pip install pyforest

import pyforest as pyf: //this may have it's own fns which we can use whenever we need.

But the imp thing, here, is like in below ex: even without using pandas or seaborn , and just by calling their functions,
pyforest understands which respective library it has to import.. and imports them which can be seen using active_imports() fn.
Also, for this we don't even have to import pyforest but just install it.

But the disadvantage is, for the first time will not get the intellisense of the fn names or props.

In [4]:
# calling seaborn tips datasets 
df=sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [5]:
active_imports()

import pandas as pd
import seaborn as sns

['import pandas as pd', 'import seaborn as sns']

In [6]:
# so checking with numpy now..
ndArr=np.arange(0,50).reshape(5,10)
ndArr

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49]])

In [7]:
active_imports()

import numpy as np
import pandas as pd
import seaborn as sns

['import numpy as np', 'import pandas as pd', 'import seaborn as sns']

In [8]:
df2=pd.DataFrame(ndArr)
df2.head()

    0   1   2   3   4   5   6   7   8   9
0   0   1   2   3   4   5   6   7   8   9
1  10  11  12  13  14  15  16  17  18  19
2  20  21  22  23  24  25  26  27  28  29
3  30  31  32  33  34  35  36  37  38  39
4  40  41  42  43  44  45  46  47  48  49

In [11]:
df3=pd.read_csv('E:\\SL\\ai\\sample data files\\titanicdataset-traincsv\\train.csv')
df3.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [10]:
active_imports()

import numpy as np
import pandas as pd
import seaborn as sns

['import numpy as np', 'import pandas as pd', 'import seaborn as sns']