# # Basics (Types,Conditional statements, Datatypes, Math Ops etc)

In [2]:
a=2 
print(a/2)
a='str'
#print(a/2)
a=True
print(a/2)
print(a)
print((3+2)/3)
print(True or False)
print(True and False)
print(True and True)
print(False and False)
print(False or False)
print(True or True)

1.0
0.5
True
1.6666666666666667
True
False
True
False
False
True

In [3]:
# Conditional Statements (syntax)
b=25
c=5
if b%5==0:
    print('b is divisible by 5')
    print('in first block')
    if b==25: # nested blocks ex..
        print('b value is 25')
        if c==5:
            print('c value is 5')
elif b%6==0:
    print('b is divisible by 6')
else:
    print('b is not divisible by either 5 or 6')

b is divisible by 5
in first block
b value is 25
c value is 5

In [4]:
# for loops
list1=list()
for item in range(1,21):
    list1.append(item)
print(list1)
print(len(list1)-10)
for item in range(1,len(list1)-10):
    list1.remove(item)

print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
10
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

### Implicit and Explicit Conversions

In [5]:
num_int = 123
num_str = "456"

print("Data type of num_int:",type(num_int))
print("Data type of num_str:",type(num_str))
print('Hence, implicit conversions are not supported in Python, so using below explicit conversions to achieve the same')
print(num_int+num_str)

Data type of num_int: <class 'int'>
Data type of num_str: <class 'str'>
Hence, implicit conversions are not supported in Python, so using below explicit conversions to achieve the same

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
# Hence, implicit conversions are not supported in Python, so using below explicit conversions to achieve the same
print('Hence, implicit conversions are not supported in Python, so using below explicit conversions to achieve the same')
num_int = 123
num_str = "456"

print("Data type of num_int:",type(num_int))
print("Data type of num_str before Type Casting:",type(num_str))

num_str = int(num_str)
print("Data type of num_str after Type Casting:",type(num_str))

num_sum = num_int + num_str

print("Sum of num_int and num_str:",num_sum)
print("Data type of the sum:",type(num_sum))

In [ ]:
# while syntax
d=25
while d>10:
    print('value of d is:'+str(d))
    d-=1 #d=d-1

# # Lists/Collections (Generic Arrays/Lists)

In [ ]:
ListObj=['stringType2','32','intTYpe2','4.02', 'float types2',4.56782,5002,3652]
print(type(ListObj))
ListObj2=list()
type(ListObj2)
ListObj2=['stringType','3','numeric','4.0', 'boolean',True,4.5678,500,365]
print(ListObj2[2+1])
print(ListObj2[:])
print(ListObj2[2:])
print(ListObj2[2:5])
print(ListObj2.append(["Robert","Drowney",66]))
print(ListObj2[:])
print(ListObj2.insert(2,"WillSmith"))
print(ListObj2[:])
print(ListObj2.append("Julia"))
print(ListObj2[:])
ListObj2.extend(['Chris','Hemsworth'])
print(ListObj2[:])

In [ ]:
newList=list()
newList.extend([1,2,3,4,5,6,7])
print(newList[:])
newList.pop()
print(newList[:])
newList.pop(0)
print(newList[:])
print(newList.count(2))
print(len(newList))
print(newList.index(4,0,999))
print(max(newList))
print(min(newList))
newList[2]=33
print(newList[:4])
newList2=list()
newList2.extend(['rachel','joey','chandler','monica','ross','pheobe'])
for x in newList2:
    print(x+"-- printed inside a for loop")

# Sets(similar to ordered, unique generic collections)

In [ ]:
print(newList*3)
print(newList[:])

In [ ]:
setObj=set()
print(type(setObj))
print(setObj)
setObj={"Avengers","DoLittle","Tenet","Tenet",3,3,2,1}
print(setObj)
print(setObj.add("Hulk"))
print(setObj)
for x in setObj:
    print(x)

In [ ]:
setObj2=set()
setObj2={"Avengers","DoLittle","Tenet","Tenet","Hulk2",3,3,2,1}
print(setObj2.difference(setObj))
print(setObj2)

In [ ]:
print(setObj2.difference_update(setObj))
print(setObj2)

In [ ]:
setObj2.clear()
setObj2={"Avengers","DoLittle","Tenet","Tenet","Hulk2",3,3,2,1}
print(setObj2.intersection(setObj))
print(setObj2)

In [ ]:
print(setObj2.intersection_update(setObj))
print(setObj2)

In [ ]:
setObj3={"Avengers","DoLittle","Tenet","Tenet","Hulk2",3,3,2,1}
print(setObj3)
print(setObj2.symmetric_difference(setObj3))

# # Dictionaries (similar to .net and generic in nature)

In [ ]:
dictObj=dict()
print(type(dictObj))
dictObj={"jeremy":'male','julia':'female','chris':23,'AvengersHitMovie':True}
print(dictObj)
print(dictObj.get('julia'))
print(dictObj.keys())
for x in dictObj:
    print(x+" in a loop")
print(dictObj.items())
print(dictObj.values())

print(dictObj.update({'julia':33}))
print(dictObj.update({'mark':35}))
print(dictObj)
print('---------------------------------------remvoing of items------------------------------------------')
print(dictObj.popitem())
print(dictObj)
print(dictObj.pop('jeremy'))
print(dictObj)
dictObj.setdefault('will smith', 55)
print(dictObj)
print(dictObj['will smith'])
print(dictObj)

In [ ]:
print(dictObj)
for x in dictObj.items():
    print(x)
dictObj['Car1']="Mercedes"
print(dictObj)

# Nested Dict:

In [ ]:
normalDict=dict()
normalDict={'Car1':'Benz','Car2':'Audi','Car3':'BMW'}
print(normalDict)
nestedDict1={'Benz':1960,}
nestedDict2={'Audi':1980,}
nestedDict3={'BMW':1990,}
normalDict={'Car1':nestedDict1,'Car2':nestedDict2,'Car3':nestedDict3}
print(normalDict['Car2'])
print(normalDict['Car2']['Audi'])
normalDict['Car3']={'Kia':2019,}
print(normalDict)
normalDict['Car3']['Kia']=2020
print(normalDict)

# Tuples ( a simple generic data structure)

In [ ]:
tupleObj=tuple()
print(type(tupleObj))
print(tupleObj)

In [ ]:
tupleObj=("Marvel","DC","WB")
print(tupleObj)
print(tupleObj[0])
# tupleObj[0]='Pirates Of Carribean' # not possible, since elements of tuple/dict/set are immutable but tuple/set/dict,
# itself is mutable.
tupleObj=('Avatar','Interstellar','Inception','Interstellar',5.5369)
print(tupleObj)
print(tupleObj.count('Interstellar'))
print(tupleObj.index('Avatar'))

for x in tupleObj:
    print(x)

In [ ]:
tup