# Pandas-Read Pickle,Excel,Json,Html

In [3]:
import pandas as pd
import numpy as np

### Reading Json in Pandas

In [79]:
jsonData = '{"Name": "Robert", "Age": "asdf", "email": "robert@gmail.com", "jobProfile": [{"Title":"Team Lead"}]}'
print(type(jsonData))
simpleDF=pd.read_json(jsonData)

<class 'str'>

In [81]:
jsonData = '[{"Name": "Robert", "Age": "asdf", "email": "robert@gmail.com"},{"Name": "Robert2", "Age": "asdf2", "email": "robert2@gmail.com"}]'
print(type(jsonData))
simpleDF=pd.read_json(jsonData,)
simpleDF
# note above syntax n the current one, may be json str manipulation is required..

<class 'str'>

     Age     Name              email
0   asdf   Robert   robert@gmail.com
1  asdf2  Robert2  robert2@gmail.com

In [53]:
# reading json from a url.. proxy doesn't allow so, using local file in next block
# df=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data', header=None)
# URLError: <urlopen error [WinError 10054] An existing connection was forcibly closed by the remote host>
#df=pd.read_json('https://tools.learningcontainer.com/sample-json-file.json')
# df.head()

In [43]:
df=pd.read_csv('E:\\SL\\ai\\test files\\wine.data', header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [44]:
# json to csv conversion
df.to_csv('E:\\SL\\ai\\test files\\wine.csv')

In [83]:
# csv to json conversion
print(type(simpleDF))
simpleDF.to_json() # by default it takes row index and column values to form json obj.

<class 'pandas.core.frame.DataFrame'>

'{"Age":{"0":"asdf","1":"asdf2"},"Name":{"0":"Robert","1":"Robert2"},"email":{"0":"robert@gmail.com","1":"robert2@gmail.com"}}'

In [82]:
simpleDF.to_json(orient="records") # setting orient to records will create json obj record wise..

'[{"Age":"asdf","Name":"Robert","email":"robert@gmail.com"},{"Age":"asdf2","Name":"Robert2","email":"robert2@gmail.com"}]'

### Reading Html in Pandas

In [106]:
# url='https://www.fdic.gov/bank/individual/failed/banklist.html'
# dfUrl=pd.read_html(url)
# URLError: <urlopen error [WinError 10054] An existing connection was forcibly closed by the remote host>
# so wil not work..

In [105]:
url='E:\\SL\\ai\\sample data files\\local html file\\FDIC_ Failed Bank List.html'
dfUrl=pd.read_html(url, match='Bank Name' , header=0)
print(type(dfUrl))
print(dfUrl[0])

<class 'list'>
                                            Bank Name                City  ST  \
0                    City National Bank of New Jersey              Newark  NJ
1                                       Resolute Bank              Maumee  OH
2                               Louisa Community Bank              Louisa  KY
3                                The Enloe State Bank              Cooper  TX
4                 Washington Federal Bank for Savings             Chicago  IL
5     The Farmers and Merchants State Bank of Argonia             Argonia  KS
6                                 Fayette County Bank          Saint Elmo  IL
7   Guaranty Bank, (d/b/a BestBank in Georgia & Mi...           Milwaukee  WI
8                                      First NBC Bank         New Orleans  LA
9                                       Proficio Bank  Cottonwood Heights  UT
10                      Seaway Bank and Trust Company             Chicago  IL
11                             Harvest Community Bank          Pennsville  NJ
12                                        Allied Bank            Mulberry  AR
13                       The Woodbury Banking Company            Woodbury  GA
14                             First CornerStone Bank     King of Prussia  PA
15                                 Trust Company Bank             Memphis  TN
16                         North Milwaukee State Bank           Milwaukee  WI
17                             Hometown National Bank            Longview  WA
18                                The Bank of Georgia      Peachtree City  GA
19                                       Premier Bank              Denver  CO
20                                     Edgebrook Bank             Chicago  IL
21                             Doral Bank  En Espa√±ol            San Juan  PR
22                  Capitol City Bank & Trust Company             Atlanta  GA
23                            Highland Community Bank             Chicago  IL
24                   First National Bank of Crestview           Crestview  FL

     CERT                Acquiring Institution        Closing Date
0   21111                      Industrial Bank    November 1, 2019
1   58317                   Buckeye State Bank    October 25, 2019
2   58112    Kentucky Farmers Bank Corporation    October 25, 2019
3   10716                   Legend Bank, N. A.        May 31, 2019
4   30570                   Royal Savings Bank   December 15, 2017
5   17719                          Conway Bank    October 13, 2017
6    1802            United Fidelity Bank, fsb        May 26, 2017
7   30003  First-Citizens Bank & Trust Company         May 5, 2017
8   58302                         Whitney Bank      April 28, 2017
9   35495                    Cache Valley Bank       March 3, 2017
10  19328                  State Bank of Texas    January 27, 2017
11  34951  First-Citizens Bank & Trust Company    January 13, 2017
12     91                         Today's Bank  September 23, 2016
13  11297                          United Bank     August 19, 2016
14  35312  First-Citizens Bank & Trust Company         May 6, 2016
15   9956           The Bank of Fayette County      April 29, 2016
16  20364  First-Citizens Bank & Trust Company      March 11, 2016
17  35156                       Twin City Bank     October 2, 2015
18  35259                        Fidelity Bank     October 2, 2015
19  34112            United Fidelity Bank, fsb       July 10, 2015
20  57772             Republic Bank of Chicago         May 8, 2015
21  32102         Banco Popular de Puerto Rico   February 27, 2015
22  33938  First-Citizens Bank & Trust Company   February 13, 2015
23  20290            United Fidelity Bank, fsb    January 23, 2015
24  17557                       First NBC Bank    January 16, 2015

### Reading Excel and converting data frame to excel in Pandas

In [107]:
# just using read_excel and to_excel
simpleDF.to_excel('E:\\SL\\ai\\test files\\simpleJson.xlsx')

In [109]:
excelDF=pd.read_excel('E:\\SL\\ai\\test files\\simpleJson.xlsx')

In [110]:
excelDF

     Age     Name              email
0   asdf   Robert   robert@gmail.com
1  asdf2  Robert2  robert2@gmail.com

# Pickling (serializing an object and saving into file)

### Reading Pickle and converting data frame to Pickle in Pandas(VVVIMP)

#### All pandas objects are equipped with "to_pickle" methods which use Python's cPickle module to save data structures to disk  using pickle format and also, ML algos can be saved as pickle in most of the time.

In [114]:
excelDF.to_pickle('E:\\SL\\ai\\test files\\simplePickleFile')

In [116]:
pickleDF=pd.read_pickle('E:\\SL\\ai\\test files\\simplePickleFile')

In [117]:
pickleDF

     Age     Name              email
0   asdf   Robert   robert@gmail.com
1  asdf2  Robert2  robert2@gmail.com